.App {
  text-align: center;
}
.form-container
{
  background-color: #f8f9fa;
  padding: 15px;
}

body 
{
  height: auto !important;
  position: relative !important;
}

.global-footer
{
  background-color: #f8f9fa;
  padding: 15px;

}

.align-content-center
{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}